{{define "equal"}}assert.Equal{{if or (not .Subtests) .PrintInputs}}f{{end}}{{end}}

{{define "msg"}}{{if or (not .Subtests) .PrintInputs}} , "{{template "message" .}}", {{template "inputs" .}}{{end}}{{end}}

{{define "function"}}
{{- $f := .}}

func {{.TestName}}(t *testing.T) {
	{{- with .Receiver}}
		{{- if .IsStruct}}
			{{- if .Fields}}
				type fields struct {
				{{- range .Fields}}
					{{Field .}} {{.Type}}
				{{- end}}
				}
			{{- end}}
		{{- end}}
	{{- end}}
	{{- if .TestParameters}}
	type args struct {
		{{- range .TestParameters}}
				{{Param .}} {{.Type}}
		{{- end}}
	}
	{{- end}}
	tests := []struct {
		name        string
	}{
	}{
		// TODO: Add test cases.
	}
	for _, tt := range tests {
		tt := tt
		t.Run(tt.name, func(t *testing.T) {
			t.Parallel()
        {{- with .Receiver}}{{if and .IsStruct}}
					{{Receiver .}} := {{if .Type.IsStar}}&{{end}}{{.Type.Value}}{
						{{- range .Fields}}
							{{.Name}}: f.{{Field .}},
						{{- end}}
					}
				{{- end}}{{end}}
				{{- if and (not .OnlyReturnsError) (not .OnlyReturnsOneValue) }}
					{{template "results" $f}} {{template "call" $f}}
				{{- end}}
				{{- if .ReturnsError}}
					helpertest.EqualException(t, tc.returns.err, err)
				{{- end}}
				{{- range .TestResults}}
					{{- if $f.OnlyReturnsOneValue}}
						{{template "equal" $f}}(t, tc.returns.{{Want .}}, {{template "inline" $f}}{{template "msg" $f}})
					{{- else}}
						{{template "equal" $f}}(t, tc.returns.{{Want .}}, {{Got .}}{{template "msg" $f}})
					{{- end}}
				{{- end}}
			})
	}
}
{{end}}
